*{
    font-family: Comic Sans MS;
}
header{
    background-color: #4169e1;  
    text-align: center;
    padding: 5px;
    color: #ffffff;
}
section#titulo{
    height: 30px;
}
section#link{
    height: 300px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffff00;   
}
li{
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #ffef00;
}
